@font-face {
  font-family: "sci-fi-font"; 
  src: url("./assets/fonts/Furore.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --text: #ffffff;
  --text-h: #08060d;
  --bg: #000000;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #80ffd3;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(128, 255, 211, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sci-fi: "sci-fi-font";


  font: 18px/145% var(--sci-fi);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--sci-fi);
  font-weight: 500;
  color: var(--text);
}

h1 {
  font-size: 56px;
  line-height: normal;
  margin: 32px 0;
  @media (max-width: 1024px) 
  {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}




/*PDF EXTRACTER PART*/
textarea
{
  width: 90%;
  height: 60vh;
  border: 2px var(--text) solid;
  
}


.choose-file, .main-btn
{
  cursor: pointer;
  padding: 20px 10px;
  margin:10px 4px;
  color: var(--text);
  font-family: var(--sci-fi);
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
   overflow:hidden;
/*    border:1px solid #6098FF; */
}
.base
{
  filter: brightness(0) invert(1);
}
.choose-file span, .main-btn span{
  background:#00002E;
  width:100%;
  position:relative;
  padding:10px 70px;
   -moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
/*   border:1px solid #6098FF;  */
}
.transition-bar{
    position: absolute;
    top: 0;
    left: 0%;
    width: 0;
    height: 100%;
    background: #80ffd3;
    z-index:-1;
/*     -ms-transform: skewX(-20deg); 
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg); */
}
.choose-file:hover span, .main-btn:hover span{
  color: #80ffd3!important;
}
.choose-file:hover .transition-bar, .main-btn:hover .transition-bar{

  width:120%;
  left:110%;
  -moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
}

/* 
.main-btn 
{
  
    display: block;
    margin: 20px auto 20px auto;
    background: #2ecc71;
    color: white;
    border: none;
    box-shadow: 0 6px 0 #27ae60;
    transition: all 0.1s ease;
}

.main-btn:hover {
    transform: translateY(3px);
    box-shadow: 0 3px 0 #27ae60;
} */
